body {
    font-size: 15px/1.5;
    background-color: #f4f4f4;
    margin: 0; padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 700px;
}

.highlight {
    color: #a4bd39;
}

header {
    background-color: #35424a;
    color: #f4f4f4;
    min-height: 70px;
    padding: 10px;
    border-bottom: #a4bd39 4px solid;
}

header a {
    color: #f4f4f4;
    font-size: 18px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

header ul {
    margin: 0; padding: 0;
}

header li {
    display: inline;
    padding: 0 20px;
}

header nav {
    float: right;
    margin-top: 20px;
}

#branding {
    float: left;
}

#branding img {
    height: 40px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    transform: rotate(30deg);
}

#showcase {
    background-image: url('img/screenofcode2.png');
    min-height: 400px;
    color: #f4f4f4;
    text-align: center;
    padding: 60px 5px;
}

#showcase h2 {
    font-size: 60px;
}

#showcase p {
    font-size: 22px;
}